<header class="header-bg bg-top-purple-gradient">
  <nav class="nav">
    <ul class="flex items-center gap-6 text-sm">
      <li [routerLink]="['../']">
        <img
          class="home"
          src="https://icongr.am/entypo/arrow-bold-left.svg?size=25&color=ffffff"
          alt=""
        />
      </li>
      <li>
        <img class="logo" src="https://i.imgur.com/4agXsdb.png" alt="" />
      </li>
      <li [routerLink]="['/']">
        <img
          class="back"
          src="https://icongr.am/entypo/home.svg?size=26&color=ffffff"
          alt=""
        />
      </li>
    </ul>
  </nav>
</header>
