<header class="bg-white py-5 header">
  <div class="mx-auto max-w-screen-xl px-4">
    <div
      class="header-nav bg-purple-gradient flex h-16 items-center justify-center px-5 w-fit m-auto text-white"
    >
      <div class="nav">
        <nav aria-label="Global">
          <ul class="flex items-center gap-6 text-sm">
            <li>
              <a
                class="text-white transition my-hover hover:text-gray-800/75"
                href="#"
                [routerLink]="['/about']"
              >
                About
              </a>
            </li>

            <li>
              <img class="logo" src="https://i.imgur.com/4agXsdb.png" alt="" />
            </li>

            <li>
              <a
                class="text-white transition my-hover hover:text-gray-800/75"
                href="#"
                [routerLink]="['/quiz', '1', 'play']"
              >
                Fastplay
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="bg bg-purple-gradient"></div>
  </div>
</header>
