<header class="bg-white py-5 header">
  <div class="mx-auto max-w-screen-xl px-4">
    <div
      class="header-nav bg-purple-gradient flex h-16 items-center justify-center px-5 w-fit m-auto text-white rounded-xl"
    >
      <div class="">
        <nav aria-label="Global">
          <ul class="flex items-center gap-6 text-sm">
            <li>
              <a class="text-white transition hover:text-gray-500/75" href="#">
                About
              </a>
            </li>

            <li>
              <a class="text-white transition hover:text-gray-500/75" href="#">
                All Quizes
              </a>
            </li>

            <li>
              <a class="text-white transition hover:text-gray-500/75" href="#">
                Single Quizes
              </a>
            </li>

            <li>
              <a class="text-white transition hover:text-gray-500/75" href="#">
                Result
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
