<!-- single-quize.component.html -->
<app-header-bg-only></app-header-bg-only>
<article
  *ngIf="quiz"
  class="single-quiz overflow-hidden rounded-lg shadow transition hover:shadow-lg"
>
  <img
    alt="{{ quiz.title }}"
    [src]="quiz.img"
    class="h-56 w-full object-cover"
  />

  <div class="bg-white p-4 sm:p-6">
    <h3 class="mt-0.5 text-lg text-gray-900 text-center">{{ quiz.title }}</h3>
    <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500">
      {{ quiz.description }}
    </p>
  </div>

  <div class="btn-wrapper">
    <button
      [routerLink]="['/quiz', quiz.id, 'play']"
      class="block w-full rounded-lg bg-vivid-pink px-5 py-3 text-sm font-medium text-white"
    >
      Play
    </button>
  </div>
</article>
