<div class="mx-auto max-w-screen-xl px-4 form-validation">
  <div class="mx-auto max-w-lg form-validation-container">
    <h1 class="text-center text-2xl font-bold text-french-violet sm:text-3xl">
      {{ isCodeVisible ? "Enter your code" : "Enter your email" }}
    </h1>

    <p class="mx-auto mt-4 max-w-md text-center text-gray-500">
      We are committed to developing the app, and your feedback is very
      important to us. Please let us know what you think.
    </p>

    <form
      [formGroup]="form"
      (ngSubmit)="getCode()"
      class="mb-0 mt-3 space-y-4 rounded-lg p-4 shadow-lg sm:p-6 lg:p-8"
    >
      <p class="text-center text-lg font-medium text-main-color">
        {{ isCodeVisible ? "Enter your code below:" : "Enter your details:" }}
      </p>

      <!-- Поля для имени и email отображаются, пока isCodeVisible === false -->
      <div *ngIf="!isCodeVisible">
        <label for="name" class="sr-only">Name</label>
        <div class="relative">
          <input
            formControlName="name"
            type="text"
            class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
            placeholder="Enter name"
          />
        </div>
      </div>

      <div *ngIf="!isCodeVisible">
        <label for="email" class="sr-only">Email</label>
        <div class="relative">
          <input
            formControlName="email"
            type="email"
            class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
            placeholder="Enter email"
          />
        </div>
      </div>

      <!-- Поле для кода отображается, когда isCodeVisible === true -->
      <div *ngIf="isCodeVisible">
        <label for="code" class="sr-only">Code</label>
        <div class="relative">
          <input
            formControlName="code"
            type="text"
            class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
            placeholder="Enter code"
          />
        </div>
      </div>

      <button
        type="submit"
        [disabled]="form.invalid || form.pristine"
        class="block w-full rounded-lg bg-vivid-pink px-5 py-3 text-sm font-medium text-white"
        [style.opacity]="form.invalid || form.pristine ? '0.5' : '1'"
      >
        {{ isCodeVisible ? "Submit Code" : "Get Code" }}
      </button>

      <p class="text-center text-sm text-gray-500">
        Didn't receive the code?
        <a class="underline" href="#" [routerLink]="['/feedback']">Write us</a>
      </p>
    </form>
  </div>
</div>
