<app-header-bg-only></app-header-bg-only>

<div class="container mtop-90 quiz-container text-center m-auto" *ngIf="quiz">
  <div class="quiz" *ngIf="currentQuestionIndex < questions.length">
    <div class="quiz-questions">
      <span class="timer line">{{ time }}</span>
      <div class="questions-body">
        <p class="text-xl">
          {{ questions[currentQuestionIndex].questionText }}
        </p>
      </div>
    </div>
    <ul class="quiz-list flex flex-col gap-4">
      <li *ngFor="let answer of questions[currentQuestionIndex].answers">
        <div class="quiz-answer" (click)="onAnswerSelected(answer.isCorrect)">
          <p>{{ answer.text }}</p>
          <label
            for="ColorBlack"
            class="flex cursor-pointer items-center justify-center rounded-md border border-gray-300 bg-white px-3 py-2"
          >
            <input type="radio" name="ColorOption" />
            <span class="checked">
              <img
                src="https://icongr.am/entypo/check.svg?size=16&color=fcfcfc"
                alt=""
              />
            </span>
          </label>
        </div>
      </li>
    </ul>
  </div>
</div>
