.about-container {
  .about-content-card {
    background: #ffffff;
    border-radius: 0.5rem;
    padding: 10px 5px;
  }
  .about-list-icon {
    border-radius: 5px;
  }
  .about-list-title {
    font-size: 12px;
  }
  .about-list-description {
    font-size: 10px;
  }
  .about-content-card {
    background: #ffffff;
  }
}
